@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.font {
    font-family: "Abril Fatface", serif;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
}
.btn{
  border-radius: 15px;
  border-top-left-radius: 01px;
} 

.backgroundPic1 {
  border-radius: 15px;
  z-index: 99999999999;
  position: relative;
}


.backgroundPic1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(26, 24, 24, 0.5); 
  z-index: 2; 
  border-radius: 15px;

}