.body-background {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: url(../../assest/Image/americaImge.png);
    background-size: cover;
}

.body-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the opacity as needed */
    z-index: 1; /* Make sure the overlay is on top */
}

.body-background > * {
    position: relative;
    z-index: 2; /* Ensure content is above the overlay */
}


.poppins-thin {
    font-family: "Poppins", sans-serif;
  }
  ::placeholder{
    font-size: 10px;
    padding-left: 5px;
  }