.navlist{
    max-height: 100px;
    display: flex;
    justify-content: center;
    gap: 60px;
    font-size: 17px;
    align-items: center;
   }

   @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .logo img {
    animation: spin 20s linear infinite;
    border-radius: 50%; 
  }
  

@media (max-width: 768px) {
    .navlist{
        max-height: 300px;
        display: flex;
        justify-content: center;
        gap: 10px;
        font-size: 15px;
        align-items: center;
       }
  
    .logo {
      width: 60px; 
    }
  
    .guardian {
      width: 120px;
      height: 35px;
    }
  }
  a{
    text-decoration: none;
    color: black;
  }
  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid gray;
  }
  
  


  

