.logo {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.guardian {
    width: 150px;
    height: 37px;
    text-align: center;
}

.nav-list {
    margin: auto;
    gap: 50px;
    margin-top: 40px;
}
@media screen and (max-width: 1399px) {
   .nav-list{
    gap: 0px;
    margin-top: 10px;
    }
  }
